body {
    background-color: #1A1A1A;
    color: whitesmoke;
    font-size: 2em;
    font-family: 'Helvetica Neue', Lato, Noto, Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: whitesmoke;
}

ul {
    list-style: none;
}

article {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
	font-size: 4em;
}

h2 {
    margin-left: -7%;
    font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

footer {
    margin-top: 10em;
    margin-bottom: 2em;
}

img, iframe {
    max-width: 90%;
    min-width: 300px;
    margin-top: 4em;
    margin-bottom: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 4em;
}
