body {
    background-color: #444;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: whitesmoke;
}

ul {
    list-style: none;
}

article {
    padding-left: 10%;
    padding-right: 10%;
}

h2, h3 {
    margin-left: -5%;
}

footer {
    margin-top: 3em;
}

img {
    width: 50%;
}

section {
    margin-bottom: 3em;
}